In [3]:
import pandas as pd
import requests
import os
from dotenv import load_dotenv

In [5]:

# Load environment variables from .env file
load_dotenv()
apikey = os.getenv("alpha_vantage")
ticker = "AMBUJACEM.BSE"
output_size ="full"
data_type = "json"
url = (
    "https://www.alphavantage.co/query?"
    "function=TIME_SERIES_DAILY&"
    f"symbol={ticker}&"
    f"outsize={output_size}&"
    f"datatype={data_type}&"
    f"apikey={apikey}"
)

print("url type:", type(url))
url

url type: <class 'str'>

'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=AMBUJACEM.BSE&outsize=full&datatype=json&apikey=HQQ4WJZOZLAN4017'

In [6]:
#accsesing api throu request
response = requests.get(url=url)
dir(response)

['__attrs__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__firstlineno__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__nonzero__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__static_attributes__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_content',
 '_content_consumed',
 '_next',
 'apparent_encoding',
 'close',
 'connection',
 'content',
 'cookies',
 'elapsed',
 'encoding',
 'headers',
 'history',
 'is_permanent_redirect',
 'is_redirect',
 'iter_content',
 'iter_lines',
 'json',
 'links',
 'next',
 'ok',
 'raise_for_status',
 'raw',
 'reason',
 'request',
 'status_code',
 'text',
 'url']

In [8]:
# get response code
response_code = response.status_code

print("code type", type(response_code))
response_code

code type <class 'int'>

200

In [9]:
response_text = response.text

print("response_text type:", type(response_text))
print(response_text[:200])

response_text type: <class 'str'>
{
    "Meta Data": {
        "1. Information": "Daily Prices (open, high, low, close) and Volumes",
        "2. Symbol": "AMBUJACEM.BSE",
        "3. Last Refreshed": "2026-01-09",
        "4. Output

In [11]:
response_data = response.json()
print("response_data type:", type(response_data))

response_data.keys()

response_data type: <class 'dict'>

dict_keys(['Meta Data', 'Time Series (Daily)'])

In [15]:
# Extract `"Time Series (Daily)"` value from `response_data`
stock_data = response_data["Time Series (Daily)"]
print("stock_data type:", type(stock_data))
# stock_data.keys()
# Extract data for one of the days in `stock_data`
stock_data['2026-01-09']

stock_data type: <class 'dict'>

{'1. open': '545.6500',
 '2. high': '548.2500',
 '3. low': '535.6000',
 '4. close': '536.9500',
 '5. volume': '68041'}

In [17]:
# turn the stock_data to a df
df_ambuja = pd.DataFrame.from_dict(stock_data, orient="index", dtype=float)
print("df_ambuja shape:", df_ambuja.shape)
print()
print(df_ambuja.info())
df_ambuja.head(10)

df_ambuja shape: (100, 5)

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 2026-01-09 to 2025-08-14
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1. open    100 non-null    float64
 1   2. high    100 non-null    float64
 2   3. low     100 non-null    float64
 3   4. close   100 non-null    float64
 4   5. volume  100 non-null    float64
dtypes: float64(5)
memory usage: 4.7+ KB
None

            1. open  2. high  3. low  4. close  5. volume
2026-01-09   545.65   548.25  535.60    536.95    68041.0
2026-01-08   561.80   561.85  545.50    546.95    47801.0
2026-01-07   563.50   565.15  560.75    561.80    29575.0
2026-01-06   571.40   571.95  561.30    563.50    77829.0
2026-01-05   569.55   572.70  567.85    571.20    77904.0
2026-01-02   558.95   566.45  558.30    565.20   118961.0
2026-01-01   557.55   561.10  555.05    560.00    75960.0
2025-12-31   552.55   556.85  550.80    556.30    42312.0
2025-12-30   554.50   554.50  549.10    549.75    59079.0
2025-12-29   557.35   557.35  549.50    551.90    44618.0

In [19]:
# Convert `df_ambuja` index to `DatetimeIndex`
df_ambuja.index = pd.to_datetime(df_ambuja.index)

# Name index "date"
df_ambuja.index.name = "date"
print(df_ambuja.info())
df_ambuja.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 100 entries, 2026-01-09 to 2025-08-14
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1. open    100 non-null    float64
 1   2. high    100 non-null    float64
 2   3. low     100 non-null    float64
 3   4. close   100 non-null    float64
 4   5. volume  100 non-null    float64
dtypes: float64(5)
memory usage: 4.7 KB
None

            1. open  2. high  3. low  4. close  5. volume
date
2026-01-09   545.65   548.25  535.60    536.95    68041.0
2026-01-08   561.80   561.85  545.50    546.95    47801.0
2026-01-07   563.50   565.15  560.75    561.80    29575.0
2026-01-06   571.40   571.95  561.30    563.50    77829.0
2026-01-05   569.55   572.70  567.85    571.20    77904.0

In [25]:
# Remove numbering from `df_ambuja` column names
df_ambuja.columns = [c.split(". ")[1] for c in df_ambuja.columns]
print(df_ambuja.info())
df_ambuja.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 100 entries, 2026-01-09 to 2025-08-14
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    100 non-null    float64
 1   high    100 non-null    float64
 2   low     100 non-null    float64
 3   close   100 non-null    float64
 4   volume  100 non-null    float64
dtypes: float64(5)
memory usage: 4.7 KB
None

              open    high     low   close   volume
date
2026-01-09  545.65  548.25  535.60  536.95  68041.0
2026-01-08  561.80  561.85  545.50  546.95  47801.0
2026-01-07  563.50  565.15  560.75  561.80  29575.0
2026-01-06  571.40  571.95  561.30  563.50  77829.0
2026-01-05  569.55  572.70  567.85  571.20  77904.0

In [26]:
# create a function data get data from alpha_vantage api and returns a data frame
def get_daily(ticker, output_size="full"): 
    """Get daily time series of an equity from AlphaVantage API.

    Parameters
    ----------
    ticker : str
        The ticker symbol of the equity.
    output_size : str, optional
        Number of observations to retrieve. "compact" returns the
        latest 100 observations. "full" returns all observations for
        equity. By default "full".

    Returns
    -------
    pd.DataFrame
        Columns are 'open', 'high', 'low', 'close', and 'volume'.
        All are numeric.
    """
    apikey = os.getenv("alpha_vantage")
    data_type = "json"

    url =  (
    "https://www.alphavantage.co/query?"
    "function=TIME_SERIES_DAILY&"
    f"symbol={ticker}&"
    f"outsize={output_size}&"
    f"datatype={data_type}&"
    f"apikey={apikey}"
  )
    # Send request to API 
    response = requests.get(url=url)
    # Extract JSON data from response 
    response_data = response.json()
    if "Time Series (Daily)" not in response_data.keys():
        raise Exception(
            f"invalid API Call. check that ticker symbol {ticker} is correct"
        )
      # Check if there's been an error
    response_code = response.status_code

    # Read data into DataFrame
    stock_data = response_data["Time Series (Daily)"]
    df = pd.DataFrame.from_dict(stock_data, orient="index", dtype=float)
    df.index.name = "date"

    # Convert index to `DatetimeIndex` named "date" 
    df.index = pd.to_datetime(df.index)
    

    # Remove numbering from columns (8.1.15)
    df.columns = [c.split(". ")[1] for c in df.columns]

    # Return DataFrame
    return df